.text {
    font-weight: 300;
}

.case {
    text-transform: none!important;
}

#suggestions {
    margin: 0;
    padding: 0;
    list-style: none;
}

#suggestionsWrapper{
    position:relative;
    z-index: 1;
}

#suggestions{
    border-radius: 3px;
    width: 100%;
    position:absolute;
    top:45px;
    background:#ffffff;
    /*display:none;*/

    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.c-pointer {
    cursor: pointer;
}
#suggestions li{
    padding:10px 15px;
    cursor: pointer;
    transition: .5s;
}

#suggestions li:hover{
    background-color: #F6F6F6;
    transition: .5s;
    cursor: pointer;
}

.v-application a {
    text-decoration: none;
}

.suggestions {
    z-index: 99999999;
}

#errors {
    margin-top: 1rem;
}

.btn-more {
    bottom: 20px!important;
}

.nav-text {
    color: #000;
    text-align: center;
    font-size: 2.5rem!important;
    font-weight: bold;
}

.v-card {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
}

.v-card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px !important;
}

.nav-close {
    color: #000!important;
}


.logo-container {
    max-width: 200px;
    top: 26px;
    position: inherit;
    left: 65px;
}

.vueditor {
    min-height: 500px!important;
}

.fc-scroller.fc-time-grid-container {
    height: 100%!important;
}

.title-landing {
    font-size: 23px;
}

.text-size-card-landing {
    font-size: 20px!important;
}

@media screen and (min-width: 960px) and (max-width: 1264px) {
    .logo-container {
        max-width: 125px!important;
        position: inherit!important;;
        left: 0px!important;
        top: 0px;
    }
}

@media screen and (min-width: 1264px) {
    .bg-image-main {
        background-image: url('../img/Banner_Schwarz_Double_Outlines.png')!important;
        background-size: 100%!important;
        background-position: bottom!important;
        background-repeat: no-repeat!important;
    }

    .padding-home-card {
        padding-left: 6rem;
    }
}

@media screen and (max-width: 1264px) {
    .fc-right {
        float: unset!important;
        padding-top: 5px;
        padding-top: 2.5rem;
    }
}

@media screen and (max-width: 960px) {
    .logo-container {
        max-width: 100px!important;
        position: inherit!important;;
        left: 0px!important;
        top: 0px;
    }

    .nav-list-item {
        font-size: 23px!important;
    }
}
