<template>
    <v-row>
        <v-col cols="12" class="pb-0"><small>
            <router-link to="/home/settings">Nutzerkonto</router-link>
            <i class="fal fa-angle-right"></i> Login & Konto</small></v-col>
        <v-col cols="12" class="pt-0"><h1>Login & Konto</h1></v-col>

        <v-col cols="12" md="12">
            <h3>Passwort ändern</h3>
            <password-form></password-form>
        </v-col>

        <v-col col="12">
            <v-divider></v-divider>
        </v-col>

    </v-row>

</template>
<script>
    import {EventBus} from '../../../event-bus.js';

    export default {
        data: () => ({}),
    }
</script>
