<template>
    <v-row>
        <v-col cols="12" class="pb-0"><small>
            <router-link to="/home/settings">Nutzerkonto</router-link>
            <i class="fal fa-angle-right"></i> Perönliche Einstellungen</small></v-col>
        <v-col cols="12" class="pt-0"><h1>Persönliche Einstellungen</h1></v-col>

        <v-col cols="12" md="12">
            <h3>Deine Adresse</h3>
            <address-form></address-form>
        </v-col>

        <v-col col="12">
            <v-divider></v-divider>
        </v-col>

        <v-col cols="12" md="12">
            <h3>E-mail Adresse</h3>
            <email-form></email-form>
        </v-col>

        <v-col col="12">
            <v-divider></v-divider>
        </v-col>

    </v-row>

</template>
<script>
    import {EventBus} from '../../../event-bus.js';

    export default {
        data: () => ({}),
        methods: {},
    }
</script>
