<template>
    <v-row>
        <v-col cols="12" class="pb-0"><small>
            <router-link to="/home/settings">Nutzerkonto</router-link>
            <i class="fal fa-angle-right"></i> Profil</small></v-col>

        <v-col cols="12" md="3">
            <v-card class="py-10">
                <v-row justify="center" width="100%">
                    <v-col cols="auto">
                        <v-avatar :color="getProfileImg" size="100" class="c-pointer">
                            <span class="white--text headline">{{ getUser.name[0] + getUser.name[1] }}</span>
                        </v-avatar><br>
                        <router-link class="py-3" to=""><a>Aktualisieren</a></router-link>
                    </v-col>
                </v-row>
            </v-card>
        </v-col>

        <v-col cols="12" md="9">
           <h1>Hey, ich bin {{ getUser.name }}</h1>
        </v-col>

    </v-row>

</template>
<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        computed: mapGetters(['getUser', 'getProfileImg']),
        data: () => ({

        }),
        methods: {},
    }
</script>
