<template>
    <v-row>
        <v-col cols="12"><h1>Nutzerkonto</h1>
            <h3><small><b>{{ getUser.name }},</b><span> {{ getUser.email }}</span></small></h3></v-col>

        <v-col cols="12" md="4">
            <v-card
                class="mx-auto py-3"
                color="white"
                hover
                to="/home/settings/personal-info"
                center
            >
                <v-card-title>
                    <v-icon
                        large
                        left
                        color="red darken-2"
                    >
                        fal fa-passport
                    </v-icon>
                    <br>
                    <span class="title font-weight-light">Persönliche Einstellungen</span>
                </v-card-title>

                <v-card-text>
                    Bitte mach Angaben zu deiner Person und lass uns wissen, wie wir dich erreichen können
                </v-card-text>
            </v-card>
        </v-col>


        <v-col cols="12" md="4">
            <v-card
                class="mx-auto py-3"
                color="white"
                hover
                to="/home/settings/account"
            >
                <v-card-title>
                    <v-icon
                        large
                        left
                        color="blue darken-2"
                    >
                        fal fa-user-lock
                    </v-icon>
                    <br>
                    <h2 class="title font-weight-light">Login & Konto</h2>
                </v-card-title>

                <v-card-text>
                    Aktualisiere dein Passwort und schütze dein Nutzerkonto
                </v-card-text>
            </v-card>
        </v-col>

        <!--<v-col cols="12" md="4">
            <v-card
                class="mx-auto py-3"
                color="white"
                hover
                to="/home/settings/profile"
            >
                <v-card-title>
                    <v-icon
                        large
                        left
                        color="red darken-2"
                    >
                        fal fa-user-circle
                    </v-icon>
                    <br>
                    <h2 class="title font-weight-light">Profil</h2>
                </v-card-title>

                <v-card-text>
                    Setze dir ein Profilbild und gestalte dein Profil wie du möchtest.
                </v-card-text>
            </v-card>
        </v-col>-->
    </v-row>
</template>
<script>
    import {EventBus} from '../../../event-bus.js';
    import { mapGetters } from 'vuex';

    export default {
        props: [],
        computed: mapGetters(['getUser']),
        data: () => ({
            // loading: true,
            showAddress: false,
        }),
        methods: {},
    }
</script>
