<template>
    <div>
        <v-overlay :value="loading">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>

        <v-overlay :value="finished">
            <v-row
                align="center"
                justify="center"
                align-content="center"
            >
                <v-col cols="12">
                    <div style="width:100%; text-align: center">
                        <h2>Erfolgreich</h2>
                    </div>

                </v-col>
                <v-col cols="12">
                    <div style="width:100%; text-align: center">
                        <v-btn color="black" @click="$router.push({name: 'Home', query: {redirect: '/home'}})">Zurück
                        </v-btn>
                    </div>
                </v-col>
            </v-row>
        </v-overlay>

        <v-row>

            <v-col cols="12" class="pb-0"><small>
                <router-link to="/home/settings">Flippd</router-link>
                <i class="fal fa-angle-right"></i>
                <router-link to="/home/events">Veranstalungen</router-link>
                <i class="fal fa-angle-right"></i> Hinzufügen</small></v-col>
            <v-col cols="12" class="pt-0"><h1>Flohmarkt hinzufügen</h1></v-col>

            <v-col cols="12" md="12">
                <v-stepper v-model="e1">
                    <v-stepper-header>
                        <v-stepper-step :complete="e1 > 1" step="1" color="black" dark>Allgemeine
                            Informationen
                        </v-stepper-step>

                        <v-divider></v-divider>

                        <v-stepper-step :complete="e1 > 2" step="2" color="black" dark>Zeiten
                        </v-stepper-step>

                        <v-divider></v-divider>

                        <v-stepper-step step="3" color="black" dark>Sonstiges</v-stepper-step>
                    </v-stepper-header>

                    <v-stepper-items>
                        <v-stepper-content step="1">
                            <h3>Adressdsaten</h3>
                            <div id="suggestionsWrapper">
                                <v-text-field
                                    v-debounce:300="inputAutocomplete"
                                    label="Volle Adresse*"
                                    name="address"
                                    type="text"
                                    v-model="address"
                                ></v-text-field>
                                <ul v-if="queryResult" id="suggestions">
                                    <li v-for="(result, index) in queryResult" :id="result.locationId"
                                        @click="selectAutocomplete">
                                        {{ result.label }}
                                    </li>
                                </ul>
                            </div>

                            <h3>Informationen</h3>
                            <v-text-field
                                v-model="newV.name"
                                label="Name der Veranstaltung*"
                                name="name"
                                type="text"
                            ></v-text-field>

                            <v-textarea
                                v-model="newV.description"
                                label="Beschreibung*"
                                name="desc"
                                type="text"
                            ></v-textarea>

                            <v-text-field
                                v-model="newV.website"
                                label="Webseite"
                                name="website"
                                type="text"
                            ></v-text-field>


                            <v-btn color="black" dark @click="e1 = 2">
                                Weiter
                            </v-btn>
                        </v-stepper-content>

                        <v-stepper-content step="2">
                            <v-row>
                                <v-col cols="12">
                                    <v-btn color="black" dark @click="e1 = 3">
                                        Weiter
                                    </v-btn>
                                    <v-btn text @click="e1 = 1">Zurück</v-btn>
                                </v-col>

                                <v-col cols="12">
                                    <v-sheet>

                                        <!--TODO caleder-->
                                        <full-calendar ref="calendar" @event-created="select"
                                                       :events="events" :config="config" style="height: 100%;"></full-calendar>

                                    </v-sheet>
                                </v-col>
                            </v-row>
                        </v-stepper-content>

                        <v-stepper-content step="3">
                            <v-row>
                                <v-col cols="12"><h3>Steckbrief</h3></v-col>

                                <v-col cols="12" md="6">
                                    <v-select
                                        v-model="newV.steckbrief.location"
                                        label="Wo ist dein Flohmarkt*"
                                        name="location"
                                        :items="loc"
                                    ></v-select>
                                </v-col>

                                <v-col cols="12" md="6" v-if="newV.category == 'Flohmarkt'">
                                    <v-text-field
                                        v-model="newV.steckbrief.fee"
                                        label="Standgebür in EUR"
                                        name="fee"
                                        type="number"
                                    ></v-text-field>
                                </v-col>

                                <v-col cols="12" md="6" v-if="newV.category == 'Flohmarkt'">
                                    <v-select
                                        v-model="newV.steckbrief.carOnPlace"
                                        label="Auto am Platz möglich?"
                                        :items="yn"
                                        name="carOnPlace"
                                    ></v-select>
                                </v-col>

                                <v-col cols="12" md="6" v-if="newV.category == 'Flohmarkt'">
                                    <v-select
                                        v-model="newV.steckbrief.BussinesAllowed"
                                        label="Gewerbliche verkäufer Erlaubt?"
                                        :items="yn"
                                        name="BussinesAllowd"
                                    ></v-select>
                                </v-col>

                                <v-col cols="12" md="6">
                                    <v-select
                                        v-model="newV.steckbrief.food"
                                        label="Essen vor ort?"
                                        :items="yn"
                                        name="food"
                                    ></v-select>
                                </v-col>

                                <v-col cols="12" md="6">
                                    <v-select
                                        v-model="newV.steckbrief.toilet"
                                        label="Toiletten vor Ort?"
                                        :items="yn"
                                        name="toilet"
                                    ></v-select>
                                </v-col>

                            </v-row>

                            <v-btn @click="submit()" color="black" dark>
                                Absenden
                            </v-btn>
                            <v-btn text @click="e1 = 2">Zurück</v-btn>
                        </v-stepper-content>
                    </v-stepper-items>
                </v-stepper>
            </v-col>

            <v-col cols="12">
                <v-card id="errors">
                    <v-list color="transparent" dense disabled v-if="validationErrors">
                        <v-list-item-group color="red">
                            <template v-for="(field, i) in validationErrors">
                                <v-list-item v-for="(error, i) in field" :key="i">
                                    <v-list-item-icon>
                                        <v-icon color="red"> fal fa-times</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-content>
                                        <v-list-item-title color="red" v-html="error"></v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>
                        </v-list-item-group>
                    </v-list>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>
<script>
    import {EventBus} from '../../../event-bus.js';
    import moment from 'moment';
    import 'fullcalendar/dist/locale/de'

    EventBus.$on('closeAddressForm', () => {
        this.showAddress = false;
    });

    export default {
        props: ['user'],
        data: () => ({
            events: [],
            config: {
                timeZone: 'local',
                locale: 'de',
                defaultView: 'agendaWeek'
            },

            finished: false,
            loading: false,
            e1: 1,

            address: null,
            queryString: null,
            queryResult: null,

            location_id: null,
            validationErrors: null,
            steckbrief: null,

            cat: ['Flohmarkt'],
            loc: ['Überdacht', "Wiese", "Parkplatz", "Halle", "Stadt"],
            yn: ['Ja', "Nein"],


            newV: {
                category: "Flohmarkt",
                steckbrief: {},
            },

            times: [],
            menu: [],
        }),
        methods: {
            select: function (event) {

                var eventOPbj = {
                    start: event.start.toISOString(),
                    end: event.end.toISOString(),
                };
                this.events.push(eventOPbj);
                var self = this;
                setTimeout(function () {
                    this.$refs.calendar.$emit('rerender-events');
                }, 200);
                console.log('reloaded but....');
            },
            clickDelete: function (event) {
                console.log(event);

            },
            moment: function () {
                return moment();
            },
            inputAutocomplete(element) {
                const queryString = query =>
                    `?${Object.entries(query)
                        .map(([k, v]) => k + '=' + encodeURIComponent(v))
                        .join('&')}`;

                fetch(
                    'https://autocomplete.geocoder.api.here.com/6.2/suggest.json' +
                    queryString({
                        app_id: 'hWIeLUFjmkN9JeBiYjAd',
                        app_code: 'gIBFOKG8SPzy12xJqmiRZg',
                        resultType: 'houseNumber',
                        country: 'DEU',
                        language: 'DE',
                        query: element
                    })
                )
                    .then(r => r.json())
                    .then(response => {
                        // console.log(response);
                        this.queryResult = response.suggestions;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            addTime() {
                this.times.push({startDate: null, endDate: null, startTime: null, endTime: null});
                this.menu.push({startDate: false, endDate: false, startTime: false, endTime: false});
            },
            selectAutocomplete(element) {
                this.location_id = element.currentTarget.id;
                this.address = element.currentTarget.innerHTML.replace('  ', '');
                this.queryResult = null;
            },
            dateChange(data) {
                console.log(data);
            },
            submit() {

                if (!this.newV.name || !this.newV.description || !this.newV.category || !this.newV.steckbrief || !this.location_id || !this.events.length > 0) {
                    this.validationErrors = [['Bitte fülle alle Felder aus!']];
                    this.loading = false;
                    return;
                }

                this.loading = true;

                if (!this.newV.website) {
                    this.newV.website = null;
                }

                axios({
                    method: 'post',
                    url: '/api/markets/add',
                    data: {
                        name: this.newV.name,
                        description: this.newV.description,
                        imgURL: this.newV.img,
                        tags: this.newV.tags,
                        location_id: this.location_id,
                        website: this.newV.website,
                        times: JSON.stringify(this.events),
                        features: this.newV.steckbrief,
                    },
                }).then(({data}) => {
                    if (data.status) {


                        const self = this;
                        self.loading = false;
                        self.finished = true;


                    } else {
                        this.loading = false;
                        this.error = data.data;
                    }
                }).catch(function (error) {
                    this.error = "Es ist ein Fehler aufgetreten, bitte versuche es später erneut.";
                    this.loading = false;
                });
            },
        },

        mounted() {
            this.addTime();
            var self = this;
            setTimeout(function () {
                console.log(self.$refs.calendar);
            }, 1000);
            this.$refs.calendar.$emit('reload-events');
        },
    }
</script>
