<template>
    <v-row>
        <v-col cols="12" class="pb-0"><small>
            <router-link to="/home/events">Veranstaltungen</router-link>
            <i class="fal fa-angle-right"></i>
            <router-link to="/home/events/manage">Veranstaltungen verwalten</router-link>
            <i class="fal fa-angle-right"></i> Veranstaltung</small></v-col>
        <v-col cols="12" class="pt-0"><h1>Einstellungen deiner Veranstaltung</h1></v-col>

        <v-col cols="12" md="9">
            <v-row>

                <v-col cols="12" md="12">
                    <h3>Name der Veranstaltung</h3>
                    <form-market-name :id="id"></form-market-name>
                </v-col>

                <v-col col="12">
                    <v-divider></v-divider>
                </v-col>

                <v-col cols="12" md="12">
                    <h3>Beschreibung der Veranstaltung</h3>
                    <email-form></email-form>
                </v-col>

                <v-col col="12">
                    <v-divider></v-divider>
                </v-col>

                <v-col cols="12" md="12">
                    <h3>Adresse der Veranstaltung</h3>
                    <address-form></address-form>
                </v-col>

                <v-col col="12">
                    <v-divider></v-divider>
                </v-col>

                <v-col cols="12" md="12">
                    <h3>Webseite</h3>
                    <email-form></email-form>
                </v-col>

                <v-col col="12">
                    <v-divider></v-divider>
                </v-col>

                <v-col cols="12" md="12">
                    <h3>E-mail Adresse</h3>
                    <email-form></email-form>
                </v-col>

                <v-col col="12">
                    <v-divider></v-divider>
                </v-col>

                <v-col cols="12" md="12">
                    <h3>Termine</h3>
                    <email-form></email-form>
                </v-col>

                <v-col col="12">
                    <v-divider></v-divider>
                </v-col>

                <v-col cols="12" md="12">
                    <h3>Kategorie</h3>
                    <email-form></email-form>
                </v-col>

                <v-col col="12">
                    <v-divider></v-divider>
                </v-col>

                <v-col cols="12" md="12">
                    <h3>Tags</h3>
                    <email-form></email-form>
                </v-col>

                <v-col col="12">
                    <v-divider></v-divider>
                </v-col>

                <v-col cols="12" md="12">
                    <h3>Steckbrief</h3>
                    <email-form></email-form>
                </v-col>

                <v-col col="12">
                    <v-divider></v-divider>
                </v-col>
            </v-row>
        </v-col>

        <v-col cols="12" md="3">
            <v-card
                class="mx-auto py-3"
                color="white"
                center
                width="100%"
                style="position: sticky; top: 50px;"
            >
                <v-img
                    class="white--text align-end"
                    height="200px"
                    contain
                >
                    <!--                            :src="JSON.parse(market.images)[0]"-->
                </v-img>
                <v-card-title>
                    <span class="title font-weight-light">lalalala</span>
                </v-card-title>
            </v-card>
        </v-col>

    </v-row>

</template>
<script>
    import {EventBus} from '../../../event-bus.js';
    import {mapActions, mapGetters} from "vuex";

    export default {
        data: () => ({
            id: null,
        }),
        methods: {
            ...mapActions(['selectMarket']),
        },
        mounted() {
            this.id = this.$route.params.pathMatch;
            // this.selectMarket(this.id);

            /*setTimeout(function () {
                if(self.$store.getters.selected == false || self.$store.getters.selected == null) {
                    self.$router.push({name: 'event-manage'})
                }
            }, 1500);*/
        }
    }
</script>

