<template>
    <v-row>
        <v-col cols="12"><h1>Veranstaltungen</h1></v-col>
        <v-col cols="12">
            <v-row>
                <v-col cols="12" md="4">
                    <v-card
                        class="mx-auto py-3"
                        color="white"
                        hover
                        to="/home/events/add"
                        center
                    >
                        <v-card-title>
                            <v-icon
                                large
                                left
                                color="blue darken-2"
                            >
                                fal fa-layer-plus
                            </v-icon>
                            <br>
                            <span class="title font-weight-light">Veranstaltung hinzufühen</span>
                        </v-card-title>

                        <v-card-text>
                            Erstelle deine Veranstaltung und veröffentliche sie danach.
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-col>
    </v-row>
</template>
<script>
    import {EventBus} from '../../../event-bus.js';
    import { mapGetters } from 'vuex';

    export default {
        props: [],
        computed: mapGetters(['getUser']),
        data: () => ({
        }),
        methods: {},
    }
</script>
