<template>
    <v-row>
        <v-col cols="12"><h1>Veranstaltungen verwalten</h1></v-col>
        <template v-for="(market, index) in getAllMarkets.markets">
            <v-col cols="12" md="4" :key="index">
                <v-card
                    class="mx-auto py-3"
                    color="white"
                    hover
                    :to="'/home/events/manage/' + market.id"
                    center
                >
                    <v-img
                        class="white--text align-end"
                        height="200px"
                        contain
                        :src="JSON.parse(market.images)[0]"
                    >
                    </v-img>
                    <v-card-title>
                        <span class="title font-weight-light">{{ market.name }}</span>
                    </v-card-title>
                </v-card>
            </v-col>
        </template>


    </v-row>
</template>
<script>
    import {EventBus} from '../../../event-bus.js';
    import { mapGetters, mapActions } from 'vuex';

    export default {
        props: [],
        computed: mapGetters(['getUser', 'getAllMarkets']),
        data: () => ({
        }),
        methods: {
        },
        mounted() {
        }
    }
</script>
