<template>
    <div>
        <site-nav/>
        <v-app>
            <div style="z-index: 5;">
                <v-app-bar
                    color="grey darken-3"
                    dark
                >
                    <v-img @click="$router.push('/')" class="logo-container" src="/img/f3.svg" max-width="200"/>
                </v-app-bar>
            </div>

            <v-content class="pt-9" v-if="market">
                <div>
                    <iframe
                        width="100%" height="350"
                        frameborder="0"
                        style="border:0;"
                        allowfullscreen=""
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        :src="'https://maps.google.com/maps?q='+JSON.parse(market.addressObject).lat+','+JSON.parse(market.addressObject).long+'&hl=es;z=14&amp;output=embed&maptype=satellite'"
                    >
                    </iframe>
                </div>
                <v-container>
                    <div class="pt-5">
                        <v-row>
                            <v-col cols="12" md="8">
                                <v-row>
                                    <v-col cols="12">
                                        <v-card tile>
                                            <div class="pa-5">
                                                <h1>{{ market.name }}</h1>
                                                <h3 class="font-weight: unset">{{ JSON.parse(market.addressObject).name
                                                    }}, {{
                                                    JSON.parse(market.addressObject).zip }} {{
                                                    JSON.parse(market.addressObject).city }}
                                                </h3>
                                                <v-divider class="py-3"></v-divider>
                                                <p>{{ market.description }}</p>
                                            </div>
                                        </v-card>
                                        <v-card tile color="red lighten-2" border="red" class="mt-2">
                                            <p class="pa-2">
                                                <strong>Wichtig:</strong>
                                                <br>
                                                Alle Angaben auf (insbesondere Termine, Zeiten und Preise) sind <b>ohne
                                                Gewähr</b>
                                                und können sich zwischenzeitlich
                                                geändert haben. Veranstaltungen können verlegt oder abgesagt worden
                                                sein.
                                                <br>
                                                Für verbindliche Informationen, kontaktieren Sie bitte immer den
                                                Veranstalter direkt.
                                            </p>
                                        </v-card>

                                    </v-col>
                                </v-row>
                            </v-col>
                            <v-col cols="12" md="4">
                                <v-row>
                                    <v-col cols="12" style="position: sticky; top: 10px">

                                        <v-card tile class="pa-2">
                                            <div class="py-2">
                                                <h3>Schnellaktionen</h3>
                                                <v-row align="center" justify="space-around">
                                                    <template v-if="isLoggedIn">
                                                        <v-icon v-if="checkLike(market.id)" color="red darken-2"
                                                                class="c-pointer" @click="changeLike(market.id)">fas fa-heart</v-icon>
                                                        <v-icon v-else-if="checkLike(market.id) == false"
                                                                class="c-pointer"
                                                                @click="changeLike(market.id)"
                                                                style="'cursor: pointer;">far fa-heart</v-icon>
                                                    </template>

                                                    <a target="_blank"
                                                       :href="'https://twitter.com/intent/tweet?text=Ich%20habe%20diese%20Veranstaltung%20auf%20Flippd%20gefunden%21%20Schaue%20sie%20dir%20doch%20mal%20an%3A%20https%3A//flippd.de/detail/' + market.id">
                                                        <v-icon class="c-pointer" style="'cursor: pointer;">fab
                                                            fa-twitter
                                                        </v-icon>
                                                    </a>
                                                </v-row>
                                            </div>
                                        </v-card>

                                        <v-card tile class="pa-2 my-3">

                                            <div class="py-2">
                                                <h3>Veranstaltungszeiten</h3>
                                                <table style="width: 100%">
                                                    <tr v-for="time in JSON.parse(market.times)">
                                                        <td><strong>{{ momentJS(time.from, 'dd') }}</strong> {{
                                                            momentJS(time.from, 'DD.MM.YYYY') }}
                                                        </td>
                                                        <td class="text-right">{{ momentJS(time.from, 'HH:mm') }} Uhr -
                                                            {{
                                                            momentJS(time.to, 'HH:mm') }} Uhr
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </v-card>

                                        <v-card tile class="pa-2 my-3">
                                            <h3>Steckbrief</h3>
                                            <v-list disabled>
                                                <v-list-item-group color="primary">
                                                    <v-list-item>
                                                        <v-list-item-icon>
                                                            <v-icon>fas fa-heart
                                                            </v-icon>
                                                        </v-list-item-icon>
                                                            <v-list-item-content>
                                                                <v-list-item-title>
                                                                    {{market.likes}} mal gespeichert
                                                                </v-list-item-title>
                                                            </v-list-item-content>
                                                    </v-list-item>

                                                    <v-list-item v-if="weather">
                                                        <v-list-item-icon>
                                                            <v-icon v-if="weather.list[0].weather[0].main == 'Rain'">fas
                                                                fa-raindrops
                                                            </v-icon>
                                                            <v-icon
                                                                v-else-if="weather.list[0].weather[0].main == 'Sun'">
                                                                fas fa-sun
                                                            </v-icon>
                                                            <v-icon
                                                                v-else-if="weather.list[0].weather[0].main == 'Snow'">
                                                                fas fa-snowflakes
                                                            </v-icon>
                                                            <v-icon
                                                                v-else-if="weather.list[0].weather[0].main == 'Fog'">
                                                                fas fa-fog
                                                            </v-icon>
                                                            <v-icon
                                                                v-else-if="weather.list[0].weather[0].main == 'Clouds'">
                                                                fas fa-clouds
                                                            </v-icon>
                                                            <v-icon
                                                                v-else-if="weather.list[0].weather[0].main == 'Hail'">
                                                                fas fa-cloud-hail
                                                            </v-icon>
                                                            <v-icon
                                                                v-else-if="weather.list[0].weather[0].main == 'Wind'">
                                                                fas fa-wind
                                                            </v-icon>
                                                            <v-icon
                                                                v-else-if="weather.list[0].weather[0].main == 'Drizzle'">
                                                                fas fa-cloud-drizzle
                                                            </v-icon>
                                                            <v-icon
                                                                v-else-if="weather.list[0].weather[0].main == 'Clear'">
                                                                fas fa-sun
                                                            </v-icon>
                                                            <v-icon v-else>fas fa-ban</v-icon>
                                                        </v-list-item-icon>
                                                        <v-list-item-content>
                                                            <v-list-item-title>{{ weather.list[0].weather[0].description
                                                                }}, {{ weather.list[0].main.temp }}°
                                                            </v-list-item-title>
                                                        </v-list-item-content>
                                                    </v-list-item>

                                                    <!-- STECKBRIEF -->

                                                    <v-list-item v-if="market.features.BussinesAllowed">
                                                        <v-list-item-icon>
                                                            <v-icon>fas fa-city</v-icon>
                                                        </v-list-item-icon>
                                                        <v-list-item-content>
                                                            <v-list-item-title>Location: {{market.features.location}} </v-list-item-title>
                                                        </v-list-item-content>
                                                    </v-list-item>

                                                    <v-list-item v-if="market.features.BussinesAllowed">
                                                        <v-list-item-icon>
                                                            <v-icon>fas fa-user-tie</v-icon>
                                                        </v-list-item-icon>
                                                        <v-list-item-content>
                                                            <v-list-item-title>Gewerbliche Verkäufer: {{market.features.BussinesAllowed}} </v-list-item-title>
                                                        </v-list-item-content>
                                                    </v-list-item>

                                                    <v-list-item v-if="market.features.carOnPlace">
                                                        <v-list-item-icon>
                                                            <v-icon>fas fa-car</v-icon>
                                                        </v-list-item-icon>
                                                        <v-list-item-content>
                                                            <v-list-item-title>Auto am Platz möglich: {{market.features.carOnPlace}} </v-list-item-title>
                                                        </v-list-item-content>
                                                    </v-list-item>

                                                    <v-list-item v-if="market.features.fee">
                                                        <v-list-item-icon>
                                                            <v-icon>fas fa-coins</v-icon>
                                                        </v-list-item-icon>
                                                        <v-list-item-content>
                                                            <v-list-item-title>Standgebür: {{new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'EUR' }).format(market.features.fee)}} </v-list-item-title>
                                                        </v-list-item-content>
                                                    </v-list-item>

                                                    <v-list-item v-if="market.features.food">
                                                        <v-list-item-icon>
                                                            <v-icon>fas fa-french-fries</v-icon>
                                                        </v-list-item-icon>
                                                        <v-list-item-content>
                                                            <v-list-item-title>Essen vor Ort: {{market.features.food}} </v-list-item-title>
                                                        </v-list-item-content>
                                                    </v-list-item>

                                                    <v-list-item v-if="market.features.toilet">
                                                        <v-list-item-icon>
                                                            <v-icon>fas fa-toilet</v-icon>
                                                        </v-list-item-icon>
                                                        <v-list-item-content>
                                                            <v-list-item-title>Toiletten vor Ort: {{market.features.toilet}} </v-list-item-title>
                                                        </v-list-item-content>
                                                    </v-list-item>
                                                </v-list-item-group>
                                            </v-list>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-col>

                        </v-row>
                    </div>
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>
<script>
    import moment from 'moment'
    import {mapActions, mapGetters} from "vuex";

    require('moment/locale/de');

    export default {
        computed: {
            ...mapGetters(['getUser', 'isLoggedIn', 'checkLike']),
        },
        data: () => ({
            id: null,
            market: null,
            weather: null,
        }),
        methods: {
            ...mapActions(['changeLike', 'fetchLikes']),
            momentJS(timestamp, format) {
                var m = moment(timestamp * 1000);
                return m.format(format);
            },
            getWeather() {
                axios.get('/api/getWeather/' + JSON.parse(this.market.addressObject).city)
                    .then(({data}) => {
                        this.weather = data
                    });
            }
        },
        mounted() {
            var self = this;
            setTimeout(function () {
                if (self.$store.getters.isLoggedIn) {
                    self.fetchLikes();
                }
            }, 1000);


            this.id = this.$route.params.pathMatch;
            axios.get('/api/getMarket/' + this.id)
                .then(({data}) => {
                    this.market = data;
                    this.getWeather();
                    this.market.features = JSON.parse(this.market.features);
                });
        }
    }
</script>
