<template>
    <div>
        <v-row class="mt-5">
            <v-col cols="12">
                <h1>Gespeicherte Veranstaltungen</h1>
            </v-col>


            <v-col cols="12">
                <v-row>
                    <v-col cols="12" md="4" class="mx-auto" v-for="(m, index) in getAllLikes.liked" :key="index">
                        <v-card class="box-shadow-cards">
                            <v-img
                                :src="JSON.parse(m.images)[0]"
                                height="200px"
                                contain
                                gradient="rgba(0, 0, 0, .10), rgba(0, 0, 0, .05)"
                            >
                                <v-card-title>{{ m.name }}</v-card-title>
                            </v-img>

                            <v-card-text class="text--primary font-weight-bold text-size-card-landing">
                                Wann: {{ moment(JSON.parse(m.times)[0].from).format("DD.MM.YYYY ") }}
                                <div>Wo: {{ JSON.parse(m.adressObject).zip }} {{ JSON.parse(m.adressObject).city
                                    }}
                                </div>
                            </v-card-text>

                            <v-card-actions>
                                <v-btn
                                    class="case"
                                    color="red darken-2"
                                    icon
                                    @click="changeLike(m.id)"
                                >
                                    <v-icon>fas fa-heart</v-icon>
                                </v-btn>
                                <router-link :to="'/detail/' + m.id">
                                    <v-btn
                                        color="white"
                                    >
                                        Details anschauen
                                    </v-btn>
                                </router-link>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <market-overview></market-overview>
    </div>
</template>
<script>
    import {EventBus} from './../../event-bus.js';
    import {mapGetters, mapActions} from 'vuex';
    import moment from 'moment';

    export default {
        computed: {
            ...mapGetters(['getUser']),
            ...mapGetters(['getAllLikes']),

        },
        data: () => ({
            loading: true,
            showAddress: false,
        }),
        mounted() {
            this.fetchLikes();
        },
        methods: {
            ...mapActions(['fetchLikes', 'changeLike']),
            moment: function () {
                return moment();
            },
            afterCheck() {
                EventBus.$on('closeAddressForm', () => {
                    this.showAddress = false;
                });
                axios.get('/api/user/likes')
                    .then(({data}) => {
                        this.likes = data;
                    });
            }

        },
    }
</script>
