<template>
    <div>
        <site-nav :user="user" top/>
        <v-overlay :value="loading">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
        <v-app id="inspire" class="bg-image-main">
            <v-content>
                <v-container
                    class="fill-height"
                    fluid
                >

                    <v-row
                        align="center"
                        justify="center"
                    >
                        <v-col
                            cols="12"
                            sm="8"
                            md="4"
                            class="mb-12"
                        >
                            <center>
                                <img class="center pb-12" src="/img/f3.svg" width="200" style="top: 26px;position: inherit;"></img>
                            </center>
                            <h3 class="mb-0 text-center title-landing">Finde den einen Flohmarkt in deiner Nähe!</h3>
                            <div id="suggestionsWrapper">
                                <v-text-field
                                    v-debounce:300="inputAutocomplete"
                                    label="Gebe hier deine Adresse / PLZ ein."
                                    name="address"
                                    type="text"
                                ></v-text-field>
                                <ul v-if="queryResult" id="suggestions">
                                    <li v-for="(result, index) in queryResult" :id="result.locationId"
                                        @click="selectAutocomplete">
                                        {{ result.label }}
                                    </li>
                                </ul>
                            </div>
                        </v-col>
                    </v-row>
                </v-container>
            </v-content>
        </v-app>

        <v-app>
            <v-content>
                <v-container id="maerkte">
                    <v-row v-if="markets">
                        <v-col class="col-12">
                            <h1>Zeigt alle aktuellen Flohmärkte an.</h1>
                        </v-col>
                        <feed-card
                            v-for="(article, i) in markets"
                            :key="article.id"
                            :size="layout[i]"
                            :value="article"
                        />
                        <v-col class="col-12">
                            <v-row align="center">
                                <v-col class="col-12" align="center">
                                    <infinite-loading spinner="waveDots" @infinite="infiniteHandler">
                                        <div slot="no-more"><i
                                            class="fal fa-sad-tear"></i></div>
                                        <div slot="no-results"> </div>
                                    </infinite-loading>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                    <v-row v-else align="center"
                           justify="center" class="pt-10" height="100%">
                        <v-col
                            cols="12"
                            sm="8"
                            md="4"
                            align="center"
                        >
                            <v-progress-circular
                                :size="70"
                                :width="7"
                                color="gray darken-5"
                                indeterminate
                            ></v-progress-circular>
                        </v-col>
                    </v-row>
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>

<script>
    import InfiniteLoading from 'vue-infinite-loading';
    import axios from 'axios';

    export default {
        props: ['user'],
        components: {
            InfiniteLoading,
        },
        data: () => ({
            drawer: null,
            isDark: false,
            queryString: null,
            queryResult: null,

            layout: [2, 2, 1, 2, 2, 3, 3, 3, 3, 3, 3, 2, 2, 1, 3, 3, 3],
            page: 1,
            state: 1,

            titleSec01: 'Veranstaltungen',
            subtitleSec01: 'Zeigt die aktuellsten Veranstaltungen an.',

            api: "/api/getNewestMarkets",
            markets: null,
            address: '',
            loading: false,

        }),
        mounted() {
            this.getNewestMarkets();
        },
        methods: {
            //Infinity Loader
            infiniteHandler($state) {
                axios.get(this.api + '?page=' + this.page)
                    .then(({data}) => {
                        if (data.data.length) {
                            this.page += 1;
                            this.layout.push(...[2, 2, 1, 2, 2, 3, 3, 3, 3, 3, 3, 2, 2, 1, 3, 3, 3]);
                            this.markets.push(...data.data);
                            $state.loaded();
                        } else {
                            $state.complete();
                        }
                    })
            },
            getNewestMarkets() {
                fetch(
                    '/api/getNewestMarkets'
                )
                    .then(r => r.json())
                    .then(response => {
                        this.page += 1;
                        this.markets = response.data;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }
            ,
            inputAutocomplete(element) {
                const queryString = query =>
                    `?${Object.entries(query)
                        .map(([k, v]) => k + '=' + encodeURIComponent(v))
                        .join('&')}`;

                fetch(
                    'https://autocomplete.geocoder.api.here.com/6.2/suggest.json' +
                    queryString({
                        app_id: 'hWIeLUFjmkN9JeBiYjAd',
                        app_code: 'gIBFOKG8SPzy12xJqmiRZg',
                        resultType: 'houseNumber',
                        country: 'DEU',
                        language: 'DE',
                        query: element
                    })
                )
                    .then(r => r.json())
                    .then(response => {
                        // console.log(response);
                        this.queryResult = response.suggestions;
                    })
                    .catch(error => {
                        console.error(error);
                    });
            },
            selectAutocomplete(element) {
                this.loading = true;
                axios.get('/api/getMarkets?location_id=' + element.currentTarget.id)
                    .then(({data}) => {
                        this.loading = false;
                        console.log(data);
                        this.markets = data;
                        this.state = 3;
                        this.queryResult = null;
                    })
                    .then(() => {
                    this.scrollFix('#maerkte');
                });

            },
            scrollFix: function(hashbang)
            {
                location.href = hashbang;
            }
        },
    }
</script>
<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity 10s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>
