<template>
    <div>
        <site-nav/>
        <v-overlay :value="loading">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
        <v-app id="inspire" class="bg-image-main">
            <v-content>
                <v-container
                    class="fill-height"
                    fluid
                >
                    <v-row
                        align="center"
                        justify="center"
                    >
                        <v-col
                            cols="12"
                            sm="8"
                            md="4"
                        >
                            <center>
                                <img class="center" src="/img/f3.svg" width="200"
                                     style="top: 26px;position: inherit;"></img>
                            </center>
                            <h3 class="mb-0">Login</h3>
                            <input type="hidden" name="_token" :value="csrf_token">
                            <v-text-field
                                label="E-Mail-Adresse"
                                name="email"
                                type="text"
                                v-model="email"
                            ></v-text-field>
                            <v-text-field
                                label="Passwort"
                                name="password"
                                :type="show1 ? 'text' : 'password'"
                                :append-icon="show1 ? 'fas fa-eye' : 'fas fa-eye-slash'"
                                @click:append="show1 = !show1"
                                v-model="password"
                                data-vv-name="password"
                            ></v-text-field>
                            <p v-if="error" class="red--text">{{ error }}</p>
                            <v-btn @click="submit">Login</v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>

<script>

    import {EventBus} from './../../event-bus.js';
    import {mapGetters, mapActions} from 'vuex';

    export default {
        data: () => ({
            drawer: null,
            isDark: false,
            queryString: null,
            queryResult: null,
            show1: false,

            email: null,
            password: null,
            error: null,
            loading: false,
        }),
        props: {
            source: String
        },
        computed: {
            ...mapGetters(['getUser']),
            csrf_token() {
                let token = document.head.querySelector('meta[name="csrf-token"]')
                return token.content
            }
        },
        methods: {
            ...mapActions(['fetchUser']),
            isEmail(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
            },
            submit() {
                this.loading = true;
                var self = this;
                if (this.password && this.email) {
                    if(!this.isEmail(this.email)) {
                        this.error = "Bitte gebe eine gültige Email an!"
                        this.loading = false;
                        return;
                    }
                    axios({
                        method: 'post',
                        url: '/login',
                        data: {
                            password: this.password,
                            email: this.email
                        },
                    }).then(({data}) => {

                        if (data.status != false) {

                            setTimeout(function() {
                                self.fetchUser();
                                self.loading = false;
                                window.location = "../home/";
                                // self.$router.push('/home');
                            }, 1000);

                        } else {
                            self.error = "Falscher Benutzername / Passwort.";
                            self.loading = false;
                        }


                        /*if (data.status) {
                            const self = this;
                            EventBus.$emit('updateAccount');
                        } else {
                            this.loading = false;
                            this.error = data.data;
                        }*/
                    }).catch(function (error) {
                        self.error = "Die eingegebenden Daten sind leider ungültig.";
                        self.loading = false;
                    });
                } else {
                    this.error = "Bitte fülle alle felder aus."
                    this.loading = false;
                }
            }
        },
        mounted() {
            var self = this;
            setTimeout(function () {
                if (self.$store.getters.isLoggedIn == true) {
                    self.$router.push('/home')
                }
            }, 1500);
        }
    }
</script>
