<template>
    <div>
        <site-nav/>
        <v-overlay :value="loading">
            <v-progress-circular indeterminate size="64" color="red"></v-progress-circular>
        </v-overlay>
        <v-app id="inspire" style="background-image: url('img/Banner_Schwarz_Double_Outlines.png'); background-size: 100%">
            <v-content>
                <v-container
                    class="fill-height"
                    fluid
                >
                    <v-row
                        align="center"
                        justify="center"
                    >
                        <v-col
                            cols="12"
                            sm="8"
                            md="4"
                        >
                            <center>
                                <img class="center" src="/img/f3.svg" width="200" style="top: 26px;position: inherit;"></img>
                            </center>
                            <h3 class="mb-0">Registrierung</h3>
                            <v-text-field
                                label="Anzeigename"
                                name="name"
                                type="text"
                                v-model="name"
                                required
                            ></v-text-field>
                            <v-text-field
                                label="E-Mail-Adresse"
                                name="email"
                                type="text"
                                v-model="email"
                                required
                            ></v-text-field>
                            <v-text-field
                                label="Passwort"
                                name="password"
                                :type="show2 ? 'text' : 'password'"
                                :append-icon="show2 ? 'fa-eye' : 'fa-eye-slash'"
                                @click:append="show2 = !show2"
                                v-model="password"
                                required
                            ></v-text-field>
                            <v-text-field
                                label="Passwort wiederholen"
                                name="password_confirmation"
                                :type="show1 ? 'text' : 'password'"
                                :append-icon="show1 ? 'fa-eye' : 'fa-eye-slash'"
                                @click:append="show1 = !show1"
                                v-model="passsword_confirmation"
                                required
                            ></v-text-field>
                            <v-btn @click="validate">Registrieren</v-btn>
                            <v-spacer></v-spacer>

                            <v-card id="errors">
                                <v-list color="transparent" dense disabled v-if="validationErrors">
                                    <v-list-item-group color="red">
                                        <template v-for="(field, i) in validationErrors">
                                            <v-list-item v-for="(error, i) in field" :key="i">
                                                <v-list-item-icon>
                                                    <v-icon color="red"> fal fa-times </v-icon>
                                                </v-list-item-icon>
                                                <v-list-item-content>
                                                    <v-list-item-title color="red" v-html="error"></v-list-item-title>
                                                </v-list-item-content>
                                            </v-list-item>
                                        </template>
                                    </v-list-item-group>
                                </v-list>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>

<script>

    import { EventBus } from './../../event-bus.js';

    export default {
        data: () => ({
            isDark: false,
            show1: false,
            show2: false,

            loading: false,

            name: '',
            email: '',
            password: '',
            passsword_confirmation: '',
            validationErrors: null,
        }),
        props: {
            source: String
        },
        methods: {
            validate() {

                this.loading = true;

                if(this.name == null || this.name == '') {
                    this.validationErrors = [['Bitte fülle alle Felder aus!']];
                    this.loading = false;
                    return;
                } else if(this.email == null || this.email == '') {
                    this.validationErrors = [['Bitte fülle alle Felder aus!']];
                    this.loading = false;
                    return;
                } else if(this.password == null || this.password == '') {
                    this.validationErrors = [['Bitte fülle alle Felder aus!']];
                    this.loading = false;
                    return;
                } else if(this.passsword_confirmation == null || this.passsword_confirmation == '') {
                    this.validationErrors = [['Bitte fülle alle Felder aus!']];
                    this.loading = false;
                    return;
                }

                this.create()
            },
            create() {
                this.loading = true;
                axios({
                    method: 'post',
                    url: '/api/register',
                    data: {
                        Anzeigename: this.name,
                        Email: this.email,
                        Passwort: this.password,
                        Passwort_confirmation: this.passsword_confirmation,
                    },
                }).then(({data}) => {
                    if (data.status) {
                        EventBus.$emit('updateAccount');
                        const self = this;

                        setTimeout(function () {
                            self.loading = false;
                            window.location = "../home/";
                            // self.$router.push({name: 'Home', query: {redirect: '/home'}});
                        }, 1000);


                    } else {
                        this.loading = false;
                        this.error = data.data;
                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.validationErrors = error.response.data.errors;
                        // console.log(error.response.data.errors);
                    } else {
                        this.validationErrors = [['Ein Fehler ist aufgetreten, bitte versuche es später erneut.']]
                    }
                    this.loading = false;
                });
            }
        },
        created() {
            if(this.user) {
                this.$router.push({name: 'Home', query: {redirect: '/home'}});
            }
        }
    }
</script>
