<template>
    <router-view></router-view>
</template>

<script>

    import {EventBus} from './../event-bus.js';
    import {mapGetters, mapActions} from 'vuex';

    export default {
        data: () => ({
            load: true,
        }),
        mounted() {
            console.log('%cFlippd. %cvRELEASE-1.0 %cSuccessful mounted.', 'margin-top:10px;margin-bottom:10px;color:white;background-color:#000000;font-weight:bold;padding:5px;border-radius:2px 0px 0px 2px', 'color:white;background-color:#323232;font-weight:bold;padding:5px;border-radius:0px 2px 2üx 0px', 'padding: 5px;font-weight: bold');
        },
        methods: {
            ...mapActions(['fetchUser']),
        },
        created() {
            this.fetchUser();
        }
    }
</script>
