<template>
    <form>
        <v-row v-if="change == false">
            <v-col cols="12">
                <h4 class="text">{{ getUser.address.firstname }} {{ getUser.address.lastname }}</h4>
                <h4 class="text">{{ getUser.address.street }} {{ getUser.address.housenumber }}</h4>
                <h4 class="text">{{ getUser.address.zip }} {{ getUser.address.city }}</h4>
                <h4 class="text">{{ getUser.address.country }}</h4>
                <span class><a @click="change = true">Bearbeiten</a></span>
            </v-col>


        </v-row>
        <v-row v-if="change">
            <v-col cols="12" md="4">
                <v-text-field
                    label="Vorname*"
                    name="firstname"
                    type="text"
                    v-model="firstname"
                    required
                ></v-text-field>
            </v-col>
            <v-col cols="12" md="4">
                <v-text-field
                    label="Nachname*"
                    name="lastname"
                    type="text"
                    v-model="lastname"
                    required
                ></v-text-field>
            </v-col>
            <v-col cols="12" md="4">
                <v-text-field
                    label="Firma"
                    name="company"
                    type="text"
                    v-model="company"
                ></v-text-field>
            </v-col>
            <v-col cols="12" md="10">
                <v-text-field
                    label="Straße*"
                    name="street"
                    type="text"
                    v-model="street"
                ></v-text-field>
            </v-col>
            <v-col cols="12" md="2">
                <v-text-field
                    label="Hausnummer*"
                    name="housenumber"
                    type="text"
                    v-model="number"
                ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
                <v-text-field
                    label="Postleitzahl*"
                    name="zip"
                    type="text"
                    v-model="zip"
                ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
                <v-text-field
                    label="Ort*"
                    name="city"
                    type="text"
                    v-model="city"
                ></v-text-field>
            </v-col>
            <v-col cols="12" md="12">
                <v-select
                    label="Land*"
                    name="country"
                    :items="country_list"
                    v-model="country"
                >
                </v-select>
            </v-col>
            <v-col cols="12" class="py-0">
                <v-list color="transparent" dense disabled v-if="validationErrors">
                    <v-list-item-group color="red">
                        <template v-for="(field, i) in validationErrors">
                            <v-list-item v-for="(error, i) in field" :key="i">
                                <v-list-item-icon>
                                    <v-icon color="red"> fal fa-times </v-icon>
                                </v-list-item-icon>
                                <v-list-item-content>
                                    <v-list-item-title color="red" v-html="error"></v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </template>
                    </v-list-item-group>
                </v-list>
            </v-col>
            <v-col cols="12" md="12">
                <v-btn color="black" dark :loading="formLoading" @click="validate" style="text-transform: none">Speichern</v-btn>
            </v-col>
        </v-row>
    </form>
</template>
<script>

    import { EventBus } from './../../event-bus.js';
    import { mapGetters, mapActions } from 'vuex';

    export default {

        computed: mapGetters(['getUser']),
        data: () => ({
            country_list: ["Deutschland","Afghanistan","&Auml;gypten","Albanien","Algerien","Amerikanisch-Samoa","Amerikanische Jungferninseln","Andorra","Angola","Anguilla","Antarktis","Antigua und Barbuda","&Auml;quatorialguinea","Argentinien","Armenien","Aruba","Aserbaidschan","&Auml;thiopien","Australien","Bahamas","Bahrain","Bangladesch","Barbados","Belgien","Belize","Benin","Bermuda","Bhutan","Bolivien","Bosnien-Herzegowina","Botsuana","Bouvetinsel","Brasilien","Britische Jungferninseln","Britisches Territorium im Indischen Ozean","Brunei","Bulgarien","Burkina Faso","Burundi","Chile","Cookinseln","Costa Rica","D&auml;nemark","Demokratische Arabische Republik Sahara","Demokratische Republik Kongo","Demokratische Volksrepublik Korea","Dominica","Dominikanische Republik","Dschibuti","Ecuador","El Salvador","Elfenbeink&uuml;ste","Eritrea","Estland","Falkland Inseln","F&auml;r&ouml;er","Fidschi","Finnland","Frankreich","Franz&ouml;sisch Guyana","Franz&ouml;sisch-Polynesien","Franz&ouml;sische S&uuml;d- und Antarktisgebiete","Gabun","Gambia","Georgien","Ghana","Gibraltar","Grenada","Griechenland","Gr&ouml;nland","Gro&szlig;britannien und Nordirland","Guadeloupe","Guam","Guatemala","Guinea","Guinea-Bissau","Guyana","Haiti","Heard-Insel","Honduras","Hongkong","Indien","Indonesien","Irak","Iran","Irland","Island","Israel","Italien","Jamaika","Japan","Jemen","Jordanien","Kaimaninseln","Kambodscha","Kamerun","Kanada","Kap Verde","Kasachstan","Katar","Kenia","Kirgisistan","Kiribati","Kokos- bzw. Keelinginseln","Kolumbien","Komoren","Kroatien","Kuba","Kuwait","Laos","Lesotho","Lettland","Libanon","Liberia","Libyen","Liechtenstein","Litauen","Luxemburg","Macau","Madagaskar","Malawi","Malaysia","Malediven","Mali","Malta","Marokko","Marshallinseln","Martinique","Mauretanien","Mauritius","Mayotte","Mazedonien","Mexiko","Mikronesien","Monaco","Mongolei","Montserrat","Mosambik","Myanmar","Namibia","Nauru","Nepal","Neukaledonien","Neuseeland","Nicaragua","Niederlande","Niederl&auml;ndische Antillen","Niger","Nigeria","Niue","N&ouml;rdliche Marianen","Norfolkinsel","Norwegen","Oman","Ost-Timor","&Ouml;sterreich","Pakistan","Pal&auml;stina","Palau","Panama","Papua-Neuguinea","Paraguay","Peru","Philippinen","Pitcairninseln","Polen","Portugal","Puerto Rico","Republik China (Taiwan)","Republik Kongo","Republik Korea","Republik Moldau","R&eacute;union","Ruanda","Rum&auml;nien","Russische F&ouml;deration","Saint Pierre und Miquelon","Salomonen","Sambia","Samoa","San Marino","Sao Tom&eacute; und Pr&iacute;ncipe","Saudi-Arabien","Schweden","Schweiz","Senegal","Serbien und Montenegro","Seychellen","Sierra Leone","Simbabwe","Singapur","Slowakei","Slowenien","Somalia","Spanien","Spitzbergen und Jan Mayen Inseln","Sri Lanka","St. Helena","St. Kitts und Nevis","St. Lucia","St. Vincent und die Grenadinen","S&uuml;d-Georgien und S&uuml;dliche Sandwichinseln","S&uuml;dafrika","Sudan","Suriname","Swasiland","Syrien","Tadschikistan","Tansania","Thailand","Togo","Tokelau","Tonga","Trinidad und Tobago","Tschad","Tschechische Republik","Tunesien","T&uuml;rkei","Turkmenistan","Turks- und Caicosinseln","Tuvalu","Uganda","Ukraine","Ungarn","Uruguay","Usbekistan","Vanuatu","Vatikanstadt","Venezuela","Vereinigte Arabische Emirate","Vereinigte Staaten von Amerika","Vietnam","Volksrepublik China","Wallis und Futuna","Weihnachtsinsel","Wei&szlig;ru&szlig;land","Zentralafrikanische Republik","zur USA geh&ouml;rende Inseln","Zypern"],
            formLoading: false,
            change: false,

            firstname: null,
            lastname: null,
            company: null,
            street: null,
            number: null,
            zip: null,
            city: null,
            country: null,

            validationErrors: null,
        }),
        methods: {
            ...mapActions(['editAddress']),
            validate() {

                this.validationErrors = null;
                this.formLoading = true;

                if(this.firstname == null || this.firstname == '') {
                    this.validationErrors = [['Bitte fülle die benötigten Felder aus!']];
                    this.formLoading = false;
                    return;
                } else if(this.lastname == null || this.lastname == '') {
                    this.validationErrors = [['Bitte fülle die benötigten Felder aus!']];
                    this.formLoading = false;
                    return;
                } else if(this.street == null || this.street == '') {
                    this.validationErrors = [['Bitte fülle die benötigten Felder aus!']];
                    this.formLoading = false;
                    return;
                } else if(this.number == null || this.number == '') {
                    this.validationErrors = [['Bitte fülle die benötigten Felder aus!']];
                    this.formLoading = false;
                    return;
                } else if(this.zip == null || this.zip == '') {
                    this.validationErrors = [['Bitte fülle die benötigten Felder aus!']];
                    this.formLoading = false;
                    return;
                } else if(this.city == null || this.city == '') {
                    this.validationErrors = [['Bitte fülle die benötigten Felder aus!']];
                    this.formLoading = false;
                    return;
                } else if(this.country == null || this.country == '') {
                    this.validationErrors = [['Bitte fülle die benötigten Felder aus!']];
                    this.formLoading = false;
                    return;
                }

                this.sendForm();
            },
            sendForm()  {

                if(this.editAddress({
                    firstname: this.firstname,
                    lastname: this.lastname,
                    company: this.company,
                    street: this.street,
                    housenumber: this.number,
                    zip: this.zip,
                    city: this.city,
                    country: this.country,
                })) {
                    this.formLoading = false;
                    this.change = false;
                }

                /*axios({
                    method: 'post',
                    url: '/api/user/address',
                    data: {
                        firstname: this.firstname,
                        lastname: this.lastname,
                        company: this.company,
                        street: this.street,
                        housenumber: this.number,
                        zip: this.zip,
                        city: this.city,
                        country: this.country,
                    },
                }).then(({data}) => {
                    if (data.status) {
                        const self = this;

                        setTimeout(function () {
                            self.formLoading = false;
                            EventBus.$emit('updateAccount');
                            EventBus.$emit('closeAddressForm');
                            // self.$router.push({name: 'Home', query: {redirect: '/home'}});
                        }, 1000);


                    } else {
                        this.formLoading = false;
                        this.error = data.data;
                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.validationErrors = error.response.data.errors;
                    } else {
                        console.log(error);
                        this.validationErrors = [['Ein Fehler ist aufgetreten, bitte versuche es später erneut.']]
                    }
                    this.formLoading = false;
                });*/
            },


        },

        mounted() {
        }
    }
</script>
