<template>
    <v-card
        ripple
        tile
        flat
        hover
        :height="height"

    >
        <slot />
    </v-card>
</template>

<script>
    export default {
        props: ['height'],
        name: 'BaseCard',
        inheritAttrs: false
    }
</script>
