<template>
    <v-app>
        <!--        <site-nav :user="user"/>-->
        <!--        <v-overlay :value="loading">-->
        <!--            <v-progress-circular indeterminate size="64"></v-progress-circular>-->
        <!--        </v-overlay>-->

        <div>
            <v-app-bar
                color="grey darken-3"
                dark
            >
                <v-img @click="$router.push('/')" class="logo-container" src="/img/f3.svg" max-width="200"/>

                <v-spacer></v-spacer>

                <v-btn
                    color="white"
                    class="ma-2 black--text case d-none d-md-flex"
                    to="/home"
                >
                    Übersicht
                </v-btn>

                <v-btn
                    color="white"
                    class="ma-2 black--text case d-none d-md-flex"
                    to="/home/notes"
                >
                    Notizen
                </v-btn>

                <v-btn
                    color="white"
                    class="ma-2 black--text case d-none d-md-flex"
                    to="/home/settings"
                >
                    Einstellungen
                </v-btn>

                <v-btn
                    color="white"
                    class="ma-2 black--text case d-none d-md-flex"
                    to="/logout"
                >
                    Abmelden
                </v-btn>
                <v-btn
                    color="white"
                    class="ma-2 black--text case d-flex d-md-none"
                    icon
                    @click="mobileOverlay = !mobileOverlay"
                >
                    <v-icon>fas fa-bars</v-icon>
                </v-btn>
            </v-app-bar>
        </div>

        <v-content>
            <v-container>
                <router-view/>
            </v-container>
        </v-content>

        <v-footer
            class="font-weight-medium mt-3"
        >
            <v-row
                justify="end"
                no-gutters
            >
                <v-col
                    class="text-left white--black"
                    cols="12"
                >
                    <v-btn color="black" text rounded class="my-2" to="/impressum">
                        Impressum
                    </v-btn>
                    <v-btn color="black" text rounded class="my-2" to="/impressum">
                        Datenschutz
                    </v-btn>
                    {{ new Date().getFullYear() }} — <strong>&copy; Flippd</strong>
                </v-col>
            </v-row>
        </v-footer>

        <v-overlay :value="mobileOverlay" opacity="0.95" color="#fff">

            <v-list color="rgba(255, 255, 255, 0)">
                <v-list-item-group color="transparent">
                    <v-list-item>
                        <v-list-item-content @click="send('/home')">
                            <v-list-item-title class="nav-text nav-list-item">Übersicht</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content @click="send('/home/notes')">
                            <v-list-item-title class="nav-text nav-list-item">Notizen</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content @click="send('/home/settings')">
                            <v-list-item-title class="nav-text nav-list-item">Einstellungen</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content @click="send('/logout')">
                            <v-list-item-title class="nav-text nav-list-item">Abmelden</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                        <v-list-item-content>
                            <v-btn
                                icon
                                @click="mobileOverlay = false"
                            >
                                <v-icon class="nav-close">fal fa-times</v-icon>
                            </v-btn>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-overlay>
    </v-app>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import EventBus from '../../event-bus';

    export default {
        computed: mapGetters(['getUser', 'isOrganizer', 'getProfileImg']),
        data: () => ({
            mobileOverlay: false,
            loading: true,
        }),
        methods: {
            ...mapActions(['fetchMarkets', 'fetchNote']),
            send(route) {
                this.$router.push(route);
            }
        },
        mounted() {
            this.fetchMarkets();
            this.fetchNote();

            var self = this;
            setTimeout(function () {
                if (self.$store.getters.isLoggedIn == false) {
                    self.$router.push({name: 'Login'})
                }
            }, 1500);
        }
    }
</script>

