<template>
<!--    <transition name="fade">-->
        <v-col
            xs="12"
            :class="classes"
        >
            <router-link :to="'/detail/' + value.id">


                <v-card
                    class="mx-auto"
                >
                    <v-img
                        :src="JSON.parse(value.images)[0]"
                        height="300px"
                        contain
                        gradient="rgba(0, 0, 0, .10), rgba(0, 0, 0, .05)"
                    >
                        <v-card-title>{{ value.name }}</v-card-title>
                    </v-img>

                    <v-card-text class="text--primary font-weight-bold text-size-card-landing">
                        Wann: {{ moment(JSON.parse(value.times)[0].from).format("DD.MM.YYYY ") }}
                        <div>Wo: {{ JSON.parse(value.adressObject).zip }} {{ JSON.parse(value.adressObject).city }}</div>
                    </v-card-text>
                </v-card>


                <!--<base-card
                    color="grey lighten-1"
                    dark
                >
                    <v-img
                        :src="JSON.parse(value.images)[0]"
                        height="100%"
                        contain
                        gradient="rgba(0, 0, 0, .10), rgba(0, 0, 0, .05)"
                    >
                        <v-row
                            v-if="!value.prominent"
                            fill-height

                            class="ma-0 text-right"
                        >
                            <v-col class="col-xs-12">
                                <v-chip
                                    v-if="value.sponsored"
                                    label
                                    class="mx-0 mb-2 text-uppercase"
                                    color="red darken-3"
                                    text-color="white"
                                    small
                                    @click.stop=""
                                >
                                    Gesponsort
                                </v-chip>
                                <h3 class="headline black--text font-weight-bold mb-0" dark>
                                    {{ value.name }}
                                </h3>
                                <div class="title black--text mt-1">
                                    {{ JSON.parse(value.adressObject).zip }} {{ JSON.parse(value.adressObject).city }}
                                    <br>{{ moment(JSON.parse(value.times)[0].from).format("DD.MM.YYYY ") }}
                                </div>
                            </v-col>
                        </v-row>
                    </v-img>
                </base-card>-->
            </router-link>
        </v-col>
</template>

<script>

    import moment from 'moment';

    export default {
        props: {
            size: {
                type: Number,
                required: true
            },
            value: {
                type: Object,
                default: () => ({})
            },
        },
        methods: {
            moment: function () {
                return moment();
            }
        },
        computed: {
            classes() {
                return {
                    'col-12 col-md-6': this.size === 2,
                    'col-12 col-md-4': this.size === 3
                }
            }
        }
    }
</script>

<style>
    .v-image__image {
        transition: .3s linear;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity 10s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>
