<template>
    <div>

        <div class="d-i" style="padding: 2px; background: #f4f4f4; position: fixed; bottom: 0px; left: 0px; border: 1px solid #e5e5e5; border-radius: 5px; z-index: 99;">
            <router-link to="/impressum" style="text-decoration: none; color: #000">
                Impressum / Datenschutz
            </router-link>
        </div>

        <v-btn
            class="btn-more"
            :bottom="bottom"
            :top="top"
            :left="left"
            :right="right"
            fixed
            @click="hide = !hide"
            fab

            color="black"
            dark
        >
            <v-icon>fal fa-bars</v-icon>
        </v-btn>

        <v-overlay :value="hide" opacity="0.95" color="#fff">

            <v-list color="rgba(255, 255, 255, 0)">
                <v-list-item-group color="transparent">
                    <v-list-item v-for="(site, index) in sites" :key="index">
                        <v-list-item-content @click="send(site.route)">
                            <v-list-item-title class="nav-text nav-list-item">{{ site.name }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>
                            <v-btn
                                icon
                                @click="hide = false"
                            >
                                <v-icon class="nav-close">fal fa-times</v-icon>
                            </v-btn>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-overlay>
    </div>
</template>

<script>
    import {EventBus} from "../../event-bus";
    import {mapGetters} from 'vuex';

    export default {
        name: 'Site-nav',
        props: {
            user: {},
            bottom: {default: true},
            top: {default: false},
            right: {default: true},
            left: {default: false}
        },
        data: () => ({
            hide: false,
            sites: [
                {
                    name: 'Startseite',
                    route: {name: 'Landingpage', query: {redirect: '/'}}
                },
                {
                    name: 'Login',
                    route: {name: 'Login', query: {redirect: '/login'}}
                },
                {
                    name: 'Registrierung',
                    route: {name: 'Registrierung', query: {redirect: '/register'}}
                },
            ]
        }),
        methods: {
            send(route) {
                this.$router.push(route);
            }
        },
        mounted() {

            EventBus.$on('openNavOverlay', () => {
                this.hide = !this.hide;
            });
            var self = this;

            setTimeout(function () {
                if (self.$store.getters.isLoggedIn) {
                    self.sites = [
                        {
                            name: 'Startseite',
                            route: {name: 'Landingpage', query: {redirect: '/'}}
                        },
                        {
                            name: 'Home',
                            route: {name: 'Home', query: {redirect: '/home'}}
                        },
                        {
                            name: 'Veranstaltung hinzufügen',
                            route: {name: 'Add', query: {redirect: '/home/events/add'}}
                        },
                    ]
                }
            }, 2000);
        }
    }
</script>
