<template>
    <form>
        <v-row v-if="change == false">
            <v-col cols="12">
                <h4 class="text">***</h4>
                <span class><a @click="change = true">Aktualisieren</a></span>
            </v-col>


        </v-row>
        <v-row v-if="change">
            <v-col cols="12">
                <v-text-field
                    label="Altes Passwort*"
                    name="password_old"
                    type="password"
                    v-model="password_old"
                    required
                ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
                <v-text-field
                    label="Neues Passwort*"
                    name="email"
                    type="password"
                    v-model="password_new"
                    required
                ></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
                <v-text-field
                    label="Neues Passwort wiederholen*"
                    name="email2"
                    type="password"
                    v-model="password_new_confirm"
                    required
                ></v-text-field>
            </v-col>
            <v-col cols="12" class="py-0">
                <v-list color="transparent" dense disabled v-if="validationErrors">
                    <v-list-item-group color="red">
                        <template v-for="(field, i) in validationErrors">
                            <v-list-item v-for="(error, i) in field" :key="i">
                                <v-list-item-icon>
                                    <v-icon color="red"> fal fa-times</v-icon>
                                </v-list-item-icon>
                                <v-list-item-content>
                                    <v-list-item-title color="red" v-html="error"></v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </template>
                    </v-list-item-group>
                </v-list>
            </v-col>
            <v-col cols="12" md="12">
                <v-btn color="black" dark :loading="formLoading" @click="validate" style="text-transform: none">Speichern</v-btn>
                <v-btn color="white" @click="change = false" style="text-transform: none">Abbrechen</v-btn>
            </v-col>
        </v-row>
    </form>
</template>
<script>

    import {EventBus} from './../../event-bus.js';
    import { mapGetters, mapActions } from 'vuex';

    export default {
        props: ['user'],
        computed: mapGetters(['getUser']),
        data: () => ({
            formLoading: false,
            password_old: null,
            password_new: null,
            password_new_confirm: null,
            validationErrors: null,
            change: false,
            loading: true,
        }),
        methods: {
            ...mapActions(['editEmail']),
            validate() {
                this.validationErrors = null;
                this.formLoading = true;
                if (this.password_old == null || this.password_old == '') {
                    this.validationErrors = [['Bitte fülle die benötigten Felder aus!']];
                    this.formLoading = false;
                    return;
                } else if (this.password_new == null || this.password_new == '') {
                    this.validationErrors = [['Bitte fülle die benötigten Felder aus!']];
                    this.formLoading = false;
                    return;
                } else if (this.password_new_confirm == null || this.password_new_confirm == '') {
                    this.validationErrors = [['Bitte fülle die benötigten Felder aus!']];
                    this.formLoading = false;
                    return;
                } else if (this.password_new != this.password_new_confirm) {
                    this.validationErrors = [['Die Passwörter stimmen nicht überein!']];
                    this.formLoading = false;
                    return;
                }
                this.sendForm();
            },
            sendForm() {
                axios({
                    method: 'post',
                    url: '/api/user/cPassword',
                    data: {
                        password_old: btoa(this.password_old),
                        password_new: btoa(this.password_new),
                        password_new_confirmation: btoa(this.password_new_confirm),
                    },
                }).then(({data}) => {
                    if (data.status) {
                        this.change= false;
                    } else {
                        this.formLoading = false;
                        this.errors = [data.data.error];
                    }
                    this.formLoading = false;
                }).catch(error => {
                    if (error.status == 422) {
                        this.validationErrors = error.response.data.errors;
                    } else {
                        console.log(error);
                        this.validationErrors = [['Ein Fehler ist aufgetreten, bitte versuche es später erneut.']]
                    }
                    this.formLoading = false;
                });
            },


        },
        mounted() {

        },
    }
</script>
