<template>
    <v-row>
        <v-col cols="12" class="pb-0"><small>
            <router-link to="/home">Home</router-link>
            <i class="fal fa-angle-right"></i> Notizen</small></v-col>
        <v-col cols="12" class="pt-0"><h1>Notizen</h1></v-col>

        <v-col cols="12" md="12">
<!--            <v-textarea-->
<!--                solo-->
<!--                v-model="note"-->
<!--                name="input-7-4"-->
<!--                label="Mache dir hier Notizen"-->
<!--                rows="20"-->
<!--            ></v-textarea>-->
            <div id="noteedit" style="min-height: 500px;"></div>
        </v-col>

        <v-col cols="12" v-if="alertSuccess">
            <v-alert
                outlined
                type="success"
                text
                icon="fas fa-check-circle"
            >
                Deine Notizen wurden <strong>erfolgreich</strong> gespeichert.
            </v-alert>
        </v-col>

        <v-col cols="12" v-if="alertError">
            <v-alert
                outlined
                type="danger"
                text
                icon="fas fa-check-circle"
            >
                <strong>Oooops</strong>,<br>Es ist ein fehler aufgetreten. Bitte versuche es später erneut.
            </v-alert>
        </v-col>

        <v-col cols="12">
            <v-btn dark @click="saveNote" :loading="buttonLoad">Speichern</v-btn>
        </v-col>

    </v-row>

</template>
<script>
    import {mapActions, mapGetters} from "vuex";
    import { createEditor } from 'vueditor';

    export default {
        computed: mapGetters(['getNote']),
        data: () => ({
            note: "",
            buttonLoad: false,
            alertSuccess: false,
            alertError: false,
            editor: null,
            config: {
                toolbar: [
                    'removeFormat', 'undo', '|', 'elements', 'fontName', 'fontSize', 'foreColor', 'backColor', 'divider',
                    'bold', 'italic', 'underline', 'strikeThrough', 'links', 'divider', 'subscript', 'superscript',
                    'divider', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', '|', 'indent', 'outdent',
                    'insertOrderedList', 'insertUnorderedList', '|', 'picture', 'tables', '|', 'switchView'
                ],
                fontName: [
                    {val: 'Quicksand'},
                ],
                fontSize: ['20px', '0.8rem', '1.0rem', '1.2rem', '1.5rem', '2.0rem'],
                uploadUrl: ''
            }
        }),
        mounted() {
            this.editor = createEditor('#noteedit', this.config);
            this.editor.setContent(this.getNote);
        },
        methods: {
            ...mapActions(['editNote', 'fetchNote']),
            saveNote() {
                this.buttonLoad = true;
                this.alertSuccess = false;
                this.alertError = false;

                if(this.editNote(this.editor.getContent())) {
                    this.alertSuccess = true;
                    this.buttonLoad = false;
                } else {
                    this.alertError = true;
                    this.buttonLoad = false;
                }
            }
        }
    }
</script>
